a{text-decoration:none}
body{background-attachment:fixed;background-image:url("/static/images/background.png");background-repeat:no-repeat;background-size:100%;font-family:'Gafata';font-weight:400;font-size:16px;}
body section{height:0%;width:100%;}
body section figure{bottom:0;display:block;position:absolute;}
body section figure img{height:85%}
body section .socialmedia{background-image:url("../images/social_media_bg.png");background-repeat:no-repeat;background-size:100%;bottom:3em;display:inline-block;float:right;position:absolute;right:2em;width:18em;vertical-align:bottom;}
body section .socialmedia a{-o-transition:all .3s;-moz-transition:all .3s;-webkit-transition:all .3s;-ms-transition:all .3s;display:inline-block;height:1.5em;margin:.6em;width:1.5em;vertical-align:middle}
body section .socialmedia a#facebook{background:url("../images/facebook.png") left top no-repeat}
body section .socialmedia a#twitter{background:url("../images/twitter.png") left top no-repeat}
body section .socialmedia a#youtube{background:url("../images/youtube.png") left top no-repeat}
body section .socialmedia a:hover{background-position:left -34px !important}
footer{bottom:0;position:fixed;width:100%;}
footer div{background-color:#100a13;box-shadow:0 -15px 25px 10px rgba(0,0,0,0.75)}
header{margin:0}
nav{background-color:#100a13;box-shadow:0 20px 25px 10px rgba(0,0,0,0.75);text-align:center;}
nav figure{display:inline-block;float:left}
nav ul{display:inline-block;list-style:none;padding:1em;vertical-align:top;}
nav ul li{display:inline-block;padding:0 2.5em;vertical-align:top;}
nav ul li a{color:#a2a2a2;font-size:1.1em}
nav ul li a:hover{color:#0c78bc}
.content_photos{display:block;margin:3em 5%;position:relative;text-align:center;width:90%;}
.content_photos .block_photos{background-color:#1278bb;display:inline-block;margin:.5em;padding:1em;position:relative;vertical-align:middle;}
.content_photos .block_photos .photos{position:relative;width:18em}
.posts{margin:1em 15%;padding:2em;text-align:center;width:70%;}
.posts label{color:#ccc;float:right;font-style:italic;font-variant:small-caps;margin-right:12em}
.posts p{color:#fff}
#form_contact{display:inline-block;margin:3em 0%;position:relative;width:30%;}
#form_contact label{color:#fff;display:block;font-weight:400;margin-bottom:.2em}
#form_contact input,#form_contact textarea{display:block;font-size:1em;height:2.5em;margin:0 0 3em;width:90%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;color:#808080;background-color:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border-top:solid 1px #ddd;border-left:solid 1px #ddd;border-right:solid 1px #ddd;border-bottom:solid 1px #ddd;-webkit-box-shadow:inset 0 2px 4px 0 rgba(0,0,0,0.1);-moz-box-shadow:inset 0 2px 4px 0 rgba(0,0,0,0.1);box-shadow:inset 0 2px 4px 0 rgba(0,0,0,0.1)}
#form_contact textarea{height:10em}
#map{display:inline-block;margin:4em 0%;position:relative;width:40%;vertical-align:top;}
#map div{display:block;height:600px;margin:0;padding:0}
#principal_video{display:block;margin:2em;text-align:center;width:90%}
#video_list{display:block;margin:1em 5%;position:relative;text-align:center;width:90%;}
#video_list .video_content{display:inline-block;padding:1em;vertical-align:top;}
#video_list .video_content .img_play{background-image:url("http://www.princeroyce.com/wp-content/themes/princeroyce/images/btn_smallplay.png");background-repeat:no-repeat;background-position:center;cursor:pointer;display:block;height:139px;position:absolute;width:300px}
