{% extends '_application.html' %}
{% block content %}
	
	<article class="posts">
		<p>Mi gente linda, pronto se viene el video clip del tema&nbsp;&quot;Te Amo&quot; junto a la productora RD3</p>
		<p>un abrazo grande y muchas gracias por pedi rel tema en las radios</p>
		<p>Swing Dominicano</p>
		<label>hace2 días</label>
	</article>

	<article class="posts">
		<p>Mi gente linda, pronto se viene el video clip del tema&nbsp;&quot;Te Amo&quot; junto a la productora RD3</p>
		<p>un abrazo grande y muchas gracias por pedi rel tema en las radios</p>
		<p>Swing Dominicano</p>
		<label>hace2 días</label>
	</article>

	<article class="posts">
		<p>Mi gente linda, pronto se viene el video clip del tema&nbsp;&quot;Te Amo&quot; junto a la productora RD3</p>
		<p>un abrazo grande y muchas gracias por pedi rel tema en las radios</p>
		<p>Swing Dominicano</p>
		<label>hace2 días</label>
	</article>

	<article class="posts">
		<p>Mi gente linda, pronto se viene el video clip del tema&nbsp;&quot;Te Amo&quot; junto a la productora RD3</p>
		<p>un abrazo grande y muchas gracias por pedi rel tema en las radios</p>
		<p>Swing Dominicano</p>
		<label>hace2 días</label>
	</article>

	<article class="posts">
		<p>Mi gente linda, pronto se viene el video clip del tema&nbsp;&quot;Te Amo&quot; junto a la productora RD3</p>
		<p>un abrazo grande y muchas gracias por pedi rel tema en las radios</p>
		<p>Swing Dominicano</p>
		<label>hace2 días</label>
	</article>

	<article class="posts">
		<p>Mi gente linda, pronto se viene el video clip del tema&nbsp;&quot;Te Amo&quot; junto a la productora RD3</p>
		<p>un abrazo grande y muchas gracias por pedi rel tema en las radios</p>
		<p>Swing Dominicano</p>
		<label>hace2 días</label>
	</article>

	<article class="posts">
		<p>Mi gente linda, pronto se viene el video clip del tema&nbsp;&quot;Te Amo&quot; junto a la productora RD3</p>
		<p>un abrazo grande y muchas gracias por pedi rel tema en las radios</p>
		<p>Swing Dominicano</p>
		<label>hace2 días</label>
	</article>

{% endblock %}